body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  position: relative;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #fafafa;
}

#getWeather {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}

#weatherDisplay {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 10px; /* Adjust this value to place weather display above the input */
  background-color: #fbd184; /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  width: 200px; /* Adjust the width if necessary */
}

#weatherDisplay.visible {
  display: flex;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center spinner horizontally */
  align-items: center;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  margin-top: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#weatherText.visible {
  display: flex;
}

#locationInput {
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  color: #363942;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
}

#locationInput:hover {
  border: 2px solid #9ad3ec;
  color: #22252c;
  background-color: #9ad3ec;
}
#locationInput:hover {
  border: 2px solid #9ad3ec;
  color: #22252c;
  background-color: #9ad3ec;
}
#locationInput:focus {
  border: 2px solid #f9737d;
  outline: none;
  color: #22252c;
  background-color: #9ad3ec;
}

#btn-getWeather {
  font-weight: 800;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #f9737d;
}

#btn-getWeather:hover {
  cursor: pointer;
  color: #363942;
  background-color: #fba2a8;
}
